<html>
<head>
    <style>
        #terminal {
            font-family: "Lucida Console", Monospace;
            background-color: black;
            color: white;
            padding: 7px;
            height: 600px;
            margin-top:10px;

        }
    </style>
</head>
<body>
    <div>
        <a href="#/benchmarkupdate" >Benchmark taxi driver update</a> |
        <a href="#/benchmarknns" >Benchmark NNS search</a> |
        <a href="#/benchmarkrange" >Benchmark Range search</a>
    </div>
    <ng-view ng-app="gustavotaxi"/>

    <script type="text/ng-template" id="principal.html">
    Selecione um teste
    </script>
    <script type="text/ng-template" id="terminal.html">
        <input type="submit" id="submit" value="Iniciar" ng-click="iniciar()" />
        Tamanho:
        <select ng-options="size.code as size.name for size in sizes" ng-model="size">
           <option style="display:none" value="">Selecione tamamho</option>
        </select>
        <div>
            <strong> Atenção: </strong> O número de conexões simultaneas está limitada em 6 por limite dos browsers. Testado somente no Chrome.
        </div>
        <div>
            Tempo médio de processamento no servidor: {{meanRequestTime | number:2 }} ms
        </div>
        <div id="terminal">
            <div ng-repeat="line in lines track by $index">{{line}}</div>
        </div>

    </script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular-route.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular-messages.js"></script>
    <script src="javascripts/http-throttler.js"></script>
    <script src="javascripts/app.js"></script>
</body>
</html>
